.sidenav {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 30px;
    width: 200px;
}

.nav-list {
    padding-left: 10px;
    vertical-align: text-top;
}

.menuSlide {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footerMenu {
    position: absolute;
    bottom: 50px;
}